<?xml version="1.0"?>

<model>
  <name>Lab_Gravel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Andrew Farley</name>
    <email>16amf8@queensu.ca</email>
  </author>

  <description>
    A piece used in the offroad robotics lab. It has a container to hold gravel for robots to drive over.
  </description>
</model>
